{% from '_macros/alert.html.twig' import alert %}
{% from '_macros/form.html.twig' import button_row %}

{{ form_start(form) }}
  {{ form_row(form.username) }}

  {{ form_row(form.password) }}

  {{ form_row(form.email) }}

  {% if form.verification is defined %}
    {% if app.request.method == 'POST' and not app.request.hasPreviousSession %}
      <div class="form__row">
        {{ alert('flash.no_cookies_verification'|trans, 'error', true) }}
      </div>
    {% endif %}

    {{ form_row(form.verification) }}
  {% endif %}

  {{ button_row(editing ? 'user_form.save'|trans : 'user_form.register'|trans) }}
{{ form_end(form) }}
